.footer {
	position: relative;

	// .footer__container
	&__container {
		display: grid;
		grid-template-columns: minmax(auto, toRem(280)) minmax(auto, toRem(315)) percent(300, 1200);
		column-gap: toRem(30);
		justify-content: space-between;
		padding-block: toRem(40) toRem(60);
		@media (max-width: $tablet) {
			padding-block: toRem(30) 0;
			justify-content: center;
			column-gap: toRem(60);
			row-gap: toRem(65);
			grid-template-columns: minmax(auto, toRem(280)) minmax(auto, toRem(315));
		}
		@media (max-width: $mobile) {
			column-gap: toRem(30);
			row-gap: toRem(40);
		}
		@media (max-width: toEm(650)) {
			grid-template-columns: auto;
		}
	}
	// .footer__block

	&__block {
	}

	// .footer__img
	&__img {
		width: 100%;
		align-self: end;
		@media (min-width: $tablet) {
			margin-bottom: toRem(-60);
		}
		@media (max-width: $tablet) {
			justify-self: center;
			max-width: toRem(300);
			width: 100%;
			@media (min-width: toEm(651)) {
				grid-column: span 2;
			}
		}
		@media (max-width: toEm(650)) {
			max-width: toRem(260);
		}
	}
	// .footer__img-bg
	&__img-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: top;
		z-index: -1;
	}
}
.block-footer {
	@media (min-width: $tablet) {
		padding-top: toRem(16);
	}
	// .block-footer__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
		@media (max-width: toEm(650)) {
			text-align: center;
			font-size: toRem(27);
		}
	}
	// .block-footer__info
	&__info {
		& > *:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
	// .block-footer__item-info
	&__item-info {
		@media (max-width: toEm(650)) {
			text-align: center;
		}
	}
	// .block-footer__link
	&__link,
	&__address {
		display: inline-flex;
		align-items: center;
		column-gap: toRem(20);
		color: #f1cdb3;
		font-size: toRem(20);
		line-height: 1.15;
		letter-spacing: toRem(1.2);
		img {
			width: toRem(40);
			height: toRem(32);
			flex-shrink: 0;
			object-fit: contain;
		}
	}
	&__link {
		span {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 0;
				height: toRem(3);
				background-color: #f1cdb3;
				bottom: toRem(-5);
				right: 0;
				transition: width 0.4s;
				border-radius: toRem(5);
			}
		}
		@media (any-hover: hover) {
			&:hover span::before {
				width: 100%;
				left: 0;
			}
		}
	}
	&__address {
		@media (max-width: toEm(565)) {
			display: flex;
			justify-content: center;
		}
		@media (max-width: toEm(375)) {
			font-size: toRem(18);
		}
	}
	&__link {
	}
}
