.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		transition:
			background-color 0.4s,
			backdrop-filter 0.4s;
	}
	&.--fixed {
		&::before {
			background-color: rgba(84, 71, 65, 0.6);
			backdrop-filter: blur(toRem(10));
		}
	}
	&--bg-gray.--fixed {
		&::before {
			background-color: rgba(211, 211, 211, 0.6);
		}
	}

	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(20);
		min-height: var(--header-height);
		padding-block: toRem(15);
		transition: min-height 0.3s;
		.--fixed & {
			min-height: toRem(70);
			transition: min-height 0.4s;
		}
	}
	// .header__block
	&__block {
		width: toRem(184);
		flex-shrink: 0;
		position: relative;
		z-index: 1;
	}
	// .header__logo
	&__logo {
		transition: opacity 0.3s;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
			.header--bg-gray &:hover {
				opacity: 0.6;
			}
		}
	}
	// .header__sub-logo
	&__sub-logo {
		font-family: $fontSecond;
		font-size: toRem(13);
		letter-spacing: toRem(1.3);
		color: #fff;
		.header--bg-gray & {
			color: #292929;
		}
	}
	// .header__menu
	&__menu {
	}
}
.menu {
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			background-color: #292929;
			overflow-y: auto;
			padding-top: var(--header-height);
			padding-bottom: toRem(30);
			padding-inline: toRem(30);
			transition:
				right 0.4s,
				opacity 0.4s;
			.header--bg-gray & {
				background-color: #d3d3d3;
			}
			@media (min-height: toEm(541)) {
				display: grid;
				align-items: center;
				opacity: 0;
				padding-bottom: var(--header-height);
			}
			&::before {
				content: "";
				position: fixed;
				top: 0;
				right: -100%;
				width: 100%;
				height: var(--header-height);
				background-color: #292929;
				z-index: 1;
				transition:
					right 0.4s,
					opacity 0.4s;
				.header--bg-gray & {
					background-color: #d3d3d3;
				}
			}
			.menu-open & {
				opacity: 1;
				right: 0;
				&::before {
					right: 0;
					opacity: 1;
				}
			}
			@media (min-width: toEm(530)) {
				width: toRem(320);
				&::before {
					width: toRem(320);
				}
			}
		}
	}
	// .menu__list
	&__list {
		@media (min-width: $mobile) {
			display: flex;
			column-gap: toRem(35);
			row-gap: toRem(3);
			flex-wrap: wrap;
			justify-content: flex-end;
		}
		@media (max-width: $mobile) {
			text-align: center;
		}
	}
	// .menu__item
	&__item {
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}
	// .menu__link
	&__link {
		position: relative;
		color: $colorGray;
		font-family: $fontSecond;
		line-height: 1.6;
		transition: color 0.4s;
		.header--bg-gray & {
			color: #545454;
		}
		.--fixed:not(.header--bg-gray) & {
			color: #fff;
		}
		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: toRem(3);
			bottom: toRem(-2);
			right: 0;
			background-color: #f1cdb3;
			border-radius: toRem(5);
			transition: width 0.4s;
			.header--bg-gray & {
				background-color: $mainColor;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fafafa;
				&::before {
					right: auto;
					left: 0;
					width: 100%;
				}
				.header--bg-gray & {
					color: #292929;
				}
			}
		}
		@media (max-width: $mobile) {
			font-size: toRem(32);
			color: $colorGray;
		}
	}
	// .menu__icon
	&__icon {
	}
}
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: inline-block;
		position: relative;
		width: toRem(30);
		height: toRem(22);
		flex-shrink: 0;
		&::before,
		&::after {
			content: "";
			transition:
				top 0.2s 0.2s,
				bottom 0.2s 0.2s,
				transform 0.2s;
		}

		&::before,
		&::after,
		span {
			position: absolute;
			width: 100%;
			left: 0;
			height: toRem(2);
			border-radius: toRem(5);
			background-color: #f1cdb3;
			.header--bg-gray & {
				background-color: #000000;
			}
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		span {
			transition: transform 0.3s 0.1s;
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			&::before,
			&::after {
				transition:
					top 0.2s,
					bottom 0.2s,
					transform 0.2s 0.2s;
			}
			span {
				transform: scaleX(0);
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
