@use "sass:math";
@import "reset";
@import "mixins";

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	& > main {
		flex-grow: 1;
	}
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s,
		visibility 0.3s;
	.loaded & {
		opacity: 1;
		visibility: visible;
	}
}

$mainColor: #fff;
$fontFamily: "Arial";
$fontSize: toRem(18);

body {
	background-color: #333;
	font-size: $fontSize;
	color: $mainColor;
	font-family: $fontFamily;
	// overflow: hidden;
}

.spinner {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:
		opacity 0.3s,
		visibility 0.3s;
	img {
		width: toRem(200);
		flex-shrink: 0;
	}
	.loaded & {
		opacity: 0;
		visibility: hidden;
	}
}

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1290;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: toEm($containerWidth);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);

[class*="__container"] {
	max-width: toRem($containerWidth);
	margin-inline: auto;
	padding-inline: toRem($containerPadding / 2);
}

@import "home";
