@use "sass:math";

@import "base/fonts";
@import "base/reset";
@import "base/mixins";

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	& > main {
		flex-grow: 1;
	}
}

$mainColor: #4c4c4c;
$colorGray: #cdcdcd;
$fontFamily: "Georgia", serif;
$fontSecond: Arial, sans-serif;
$fontSize: toRem(15);

body {
	font-size: $fontSize;
	color: $mainColor;
	font-family: $fontFamily;
	.lock & {
		overflow: hidden;
	}
}

.page--pt {
	padding-top: var(--header-height);
}

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1280;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 20;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: toEm($containerWidth);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);

[class*="__container"] {
	max-width: toRem($containerWidth);
	margin-inline: auto;
	padding-inline: toRem($containerPadding / 2);
}

:root {
	--header-height: clamp(7.5rem, 1.128rem + 13.27vw, 11.25rem);
	scroll-behavior: smooth;
}

@import "base/slider";
@import "common";
@import "header";
@import "footer";
@import "home";
@import "pets";
