@use "sass:math";
@import "reset";
@import "mixins";

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	& > main {
		flex-grow: 1;
	}
}

$mainColor: #fff;
$fontFamily: "Arial";
$fontSize: toRem(18);

body {
	background-color: #333;
	font-size: $fontSize;
	color: $mainColor;
	font-family: $fontFamily, sans-serif;
}

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1290;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

[class*="__container"] {
	max-width: toRem($containerWidth);
	margin: 0 auto;
	padding-inline: toRem($containerPadding / 2);
}

.task {
	padding: toRem(50) 0;
	&__text {
		font-size: toRem(35);
		letter-spacing: toRem(10);
		&:not(:last-child) {
			margin-bottom: toRem(45);
		}
		span {
			transform: translateY(60%);
			opacity: 0;
			animation: show-letter 0.6s forwards cubic-bezier(0.615, -0.585, 0.32, 1.65);
		}
	}
}

@keyframes show-letter {
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.block-task {
	&:not(:last-child) {
		padding-bottom: toRem(30);
		margin-bottom: toRem(30);
		border-bottom: 2px solid gray;
	}
	> * {
		margin-bottom: toRem(20);
	}
	> *:last-child {
		margin-bottom: 0;
	}
	&__number {
		font-size: toRem(22);
	}
	// .block-task__question
	&__question {
	}
	// .block-task__code
	&__code {
		display: block;
		padding: toRem(20) toRem(20) 0;
		background-color: #282c34;
		line-height: 1.3;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .block-task__answer
	&__answer {
		line-height: 1.3;
		font-weight: 700;
		font-size: toRem(20);
		color: #98c379;
	}
}
.code-key {
	color: #c678dd;
}
.code-variable {
	color: #e06c75;
}
.code-numeric {
	color: #d19a66;
}
.code-fun {
	color: #61afef;
}
.code-string {
	color: #98c379;
}
