@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  display: none;
}

label {
  display: inline-block;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  background-color: #333;
  font-size: 1.125rem;
  color: #fff;
  font-family: "Arial";
}

[class*=__container] {
  max-width: 82.5rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.page {
  padding-block: 3.125rem;
}
.page hr {
  height: 0.125rem;
  background-color: gray;
}
.page hr:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.page__wrap:not(:last-child) {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}
.page__title {
  font-size: 1.5625rem;
  font-weight: 700;
}
.page__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.page__text {
  line-height: 1.3;
}
.page__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.page__back {
  position: relative;
  color: #8c71a5;
  font-size: 1.125rem;
  -webkit-padding-start: 0.9375rem;
          padding-inline-start: 0.9375rem;
}
.page__back:not(:last-child) {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}
.page__back::before, .page__back::after {
  content: "";
  position: absolute;
  inline-size: 0.625rem;
  block-size: 0.125rem;
  inset-inline-start: 0;
  background-color: #77608d;
  -webkit-transition: inset-inline-start 0.3s;
  transition: inset-inline-start 0.3s;
}
.page__back::before {
  inset-block-start: 0.5rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.page__back::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  inset-block-end: 0.59375rem;
}
@media (any-hover: hover) {
  .page__back:hover::before, .page__back:hover::after {
    inset-inline-start: -0.25rem;
  }
}
.page__list:not(:last-child) {
  -webkit-margin-after: 1.5625rem;
          margin-block-end: 1.5625rem;
}
.page .table:not(:last-child) {
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
.page__tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
.page__tables table td {
  min-inline-size: 2.625rem;
  text-align: center;
}
.page__data:not(:last-child) {
  margin-bottom: 1.875rem;
}

div {
  line-height: 1.4;
}

.list-page {
  counter-reset: number;
}
.list-page:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.list-page__item:not(:last-child) {
  -webkit-padding-after: 0.9375rem;
          padding-block-end: 0.9375rem;
  border-bottom: 0.125rem solid gray;
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}
.list-page__item::before {
  counter-increment: number;
  content: counter(number) ")";
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-margin-end: 0.3125rem;
          margin-inline-end: 0.3125rem;
}
.list-page__item:has(a:hover)::before {
  color: #7a956b;
}
.list-page__item--gred {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.9375rem;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
}
.list-page__item--gred img {
  max-width: 100%;
  grid-column: span 2;
}
.list-page__item--gred .list-page__result {
  grid-column: span 2;
}
.list-page__title {
  display: inline-block;
}
.list-page__title a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .list-page__title a:hover {
    color: #7a956b;
  }
}
.list-page__wrap {
  -webkit-margin-before: 0.625rem;
          margin-block-start: 0.625rem;
  -webkit-padding-start: 1.5625rem;
          padding-inline-start: 1.5625rem;
}
.list-page__wrap > * {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}
.list-page__wrap > *:last-child {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.list-page__text {
  line-height: 1.3;
}
.list-page__text:not(:last-child) {
  margin-bottom: 0.5rem;
}
.list-page__img {
  max-inline-size: 100%;
}
.list-page__img:not(:last-child) {
  margin-bottom: 0.625rem;
}

.info {
  color: red;
  font-size: 1.5625rem;
}
.info--green {
  color: green;
}

.table {
  border-collapse: collapse;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
}
.table.--border-red {
  border: 0.1875rem solid red;
}
.table caption {
  -webkit-margin-after: 0.3125rem;
          margin-block-end: 0.3125rem;
  font-weight: 600;
}
.table th {
  font-weight: 700;
  border: 0.125rem solid #fff;
  padding: 0.75rem 0.625rem;
}
.table__thead {
  background-color: gray;
}
.table__thead th,
.table__thead td {
  border: 0.125rem solid white;
}
.table__thead td {
  padding-inline: 0.625rem;
  text-align: center;
  font-weight: 700;
}
.table__thead th {
  text-align: center;
  font-weight: 700;
}
.table__tbody th,
.table__tbody td, .table__tfoot th,
.table__tfoot td {
  border: 0.125rem solid gray;
  padding: 0.75rem 0.625rem;
  text-align: center;
}
.table__tbody td.green, .table__tfoot td.green {
  background-color: green;
}
.table__tbody td.red, .table__tfoot td.red {
  background-color: orangered;
}
.table__tbody--center th {
  text-align: right;
}
.table__tbody--center td {
  text-align: center;
}
.table__tfoot th {
  text-align: right;
}

.menu-list {
  counter-reset: step;
}
.menu-list--start-3 {
  counter-reset: step 2;
}
.menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
}
.menu-list__item::before {
  content: counter(step) ".";
  counter-increment: step;
}

.victory {
  font-weight: 700;
  font-size: 1.5625rem;
  color: green;
}

hr {
  -webkit-margin-before: 0.9375rem;
          margin-block-start: 0.9375rem;
}

.list:not(:last-child) {
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid gray;
  margin-bottom: 1.25rem;
}
.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__item:not(:last-child) {
  -webkit-margin-after: 0.625rem;
          margin-block-end: 0.625rem;
}
.list__item::before {
  content: "";
  inline-size: 0.625rem;
  block-size: 0.625rem;
  background-color: #77608d;
  border-radius: 50%;
}
.list__item .correct {
  background-color: green;
}
.list__button {
  padding: 0.3125rem;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  border: 0.0625rem solid transparent;
}
@media (any-hover: hover) {
  .list__button:hover {
    color: #77608d;
  }
}
.list__button.--active {
  border-color: #77608d;
}

.form__row:not(:last-child) {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__label input {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-inline-size: 12.5rem;
  block-size: 2.1875rem;
  background-color: #fff;
  border: 0.0625rem solid gray;
  padding-inline: 0.9375rem;
  border-radius: 0.3125rem;
  color: #000;
}

.images-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}
.images-game__item {
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
  aspect-ratio: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.images-game__item img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page__game {
  display: grid;
  gap: 0.625rem;
  justify-items: start;
  grid-template-columns: repeat(5, 1.25rem);
}
.page__game input {
  inline-size: 1.25rem;
  block-size: 1.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0.0625rem solid grey;
}
.page__game input.--miss {
  background-color: red;
}
.page__game input.--green {
  background-color: green;
}
.page__game input.--blue {
  background-color: blue;
}
.page__game input.--yellow {
  background-color: yellow;
}

.page__health {
  position: fixed;
  inset-block-end: 7.5rem;
  inset-inline-start: 7.5rem;
  font-size: 1.25rem;
}
.page__health span {
  color: red;
  font-weight: 700;
  font-size: 1.5625rem;
}

.page__shells {
  position: fixed;
  inset-block-end: 7.5rem;
  inset-inline-end: 51.25rem;
  font-size: 1.25rem;
}
.page__shells span {
  color: yellow;
  font-weight: 700;
  font-size: 1.5625rem;
}

.page__cannon {
  position: fixed;
  inset-block-end: 11.25rem;
  inset-inline-end: 51.25rem;
  font-size: 1.25rem;
}
.page__cannon span {
  color: green;
  font-weight: 700;
  font-size: 1.5625rem;
}

.play {
  padding: 0.625rem 1.875rem;
  background-color: #77608d;
  color: #fff;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .play:hover {
    background-color: #5f4b72;
  }
}
.play:disabled {
  cursor: default;
  background-color: grey;
}
.play:not(:last-child) {
  -webkit-margin-after: 2.5rem;
          margin-block-end: 2.5rem;
}

.mark-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.mark-list__item:not(:last-child) {
  -webkit-margin-after: 0.4375rem;
          margin-block-end: 0.4375rem;
}
.mark-list__item::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-margin-before: 0.5625rem;
          margin-block-start: 0.5625rem;
  inline-size: 0.5rem;
  block-size: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
}

.code,
.code > span {
  display: block;
}

.game-field {
  display: inline-grid;
  grid-template-columns: repeat(6, 1.5625rem);
  grid-template-rows: repeat(6, 1.5625rem);
  grid-auto-rows: repeat(6, 1.875rem);
  gap: 0.4375rem;
}
.game-field:not(.--end) input {
  cursor: pointer;
}
.game-field.--end input {
  cursor: default;
}
.game-field input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: 0.125rem solid grey;
}
.game-field input.--miss, .game-field input.--complete {
  cursor: default;
}
.game-field input.--miss {
  background-color: red;
}
.game-field input.--complete {
  background-color: green;
}

.start-data:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.list-object__item {
  position: relative;
  padding-left: 1.25rem;
  line-height: 1.6;
}
.list-object__item::before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.125rem;
  top: 0.75rem;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
}
.list-object__sub-list {
  padding-left: 0.3125rem;
}
.list-object__sub-item {
  position: relative;
  padding-left: 0.9375rem;
}
.list-object__sub-item::before {
  content: "";
  position: absolute;
  width: 0.4375rem;
  height: 0.4375rem;
  top: 0.6875rem;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
}

.banner {
  display: block;
  max-width: 31.25rem;
  aspect-ratio: 1;
  margin: 0 auto;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: lightgray;
}
@media (any-hover: hover) {
  .banner:hover img {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.button {
  background-color: #77608d;
  padding: 0.625rem 1.5625rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--bg-green {
  background-color: #7a956b;
}
.button:disabled {
  cursor: default;
  background-color: gray;
}
.button.--active {
  background-color: #5d4a6f;
}
@media (any-hover: hover) {
  .button:not(:disabled):hover {
    background-color: #5d4a6f;
  }
  .button--bg-green:not(:disabled):hover {
    background-color: #687e5b;
  }
}

.input {
  display: block;
  background-color: #77608d;
  max-width: 18.75rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-inline: 0.9375rem;
  outline-offset: 0.125rem;
  outline: 0.125rem solid transparent;
  -webkit-transition: outline-color 0.3s;
  transition: outline-color 0.3s;
  font-size: 1rem;
}
.input.assessment {
  min-width: 6.25rem;
}
.input::-webkit-input-placeholder {
  color: lightgray;
}
.input::-moz-placeholder {
  color: lightgray;
}
.input:-ms-input-placeholder {
  color: lightgray;
}
.input::-ms-input-placeholder {
  color: lightgray;
}
.input::placeholder {
  color: lightgray;
}
.input:focus-visible {
  outline-color: #7a956b;
}
.input:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.notifications {
  display: block;
  max-width: 31.25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  resize: none;
  padding: 0.9375rem;
  color: black;
  font-size: 1rem;
  height: 3.125rem;
  overflow: hidden;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}
.buttons:not(:last-child) {
  margin-bottom: 0.625rem;
}

.fields > *:not(:last-child) {
  margin-bottom: 1.25rem;
}
.fields__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table-container {
  overflow-x: auto;
}

.transport {
  height: 2.1875rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-inline: 0.625rem;
  background-color: #77608d;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.3125rem;
}
.transport:not(:last-child) {
  margin-bottom: 0.625rem;
}
.transport option:disabled {
  color: lightgray;
}

.nutrition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nutrition:not(:last-child) {
  margin-bottom: 0.625rem;
}
.nutrition__label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  outline: 0.0625rem solid transparent;
  outline-offset: 0.125rem;
  -webkit-transition: outline-color 0.3s;
  transition: outline-color 0.3s;
  cursor: pointer;
}
.nutrition__label::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid lightgray;
  border-radius: 0.125rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.nutrition__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/checkbox.svg") center/0.625rem no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nutrition__label:has(input:checked)::before {
  background-color: #77608d;
}
.nutrition__label:has(input:checked)::after {
  opacity: 1;
}
.nutrition__label:has(input:focus-visible) {
  outline-color: #77608d;
}
.nutrition__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.guides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.guides:not(:last-child) {
  margin-bottom: 0.625rem;
}
.guides__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.guides__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.0625rem solid white;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.guides__input:checked {
  background-color: #77608d;
  border-color: #77608d;
}

.clickable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 0.9375rem;
}
.clickable__item {
  background-color: #77608d;
  padding: 0.4375rem 0.9375rem;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}
@media (any-hover: hover) {
  .clickable__item:hover {
    background-color: #59476a;
  }
}
.clickable__item--red {
  background-color: red;
}
@media (any-hover: hover) {
  .clickable__item--red:hover {
    background-color: rgb(199, 2, 2);
  }
}

.inputs {
  max-width: 18.75rem;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
.line__label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.line__input {
  border: 0.0625rem solid gray;
  height: 2.5rem;
  padding-inline: 0.9375rem;
}
.line:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.some-list {
  counter-reset: index;
}
.some-list.--even {
  background-color: green;
}
.some-list.--odd {
  background-color: red;
}
.some-list:not(:last-child) {
  margin-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid gray;
}
.some-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.some-list__item::before {
  content: counter(index) ".";
  counter-increment: index;
}

.amount-click::after {
  content: attr(data-amount);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.625rem;
}

.card {
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  border: 0.1875rem solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.card--border-green {
  border-color: green;
}
.card__label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: orange;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.9375rem;
  padding: 0.4375rem 0.625rem;
  line-height: 16px;
  font-size: 1rem;
}
.card__label.--stock {
  background-color: red;
}
.card__img {
  background-color: white;
  aspect-ratio: 1/0.8;
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.athletes__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.list-athletes {
  padding: 0.625rem;
  border: 0.0625rem solid white;
}
.list-athletes__item {
  padding: 0.3125rem;
  border: 0.0625rem solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-athletes__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.list-athletes__button {
  width: 1.875rem;
  height: 1.25rem;
  background: url("../img/arrow-right.svg") center/1.375rem no-repeat;
}
.list-athletes__button.--arrow-left {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background-image: url("../img/arrow-left.svg");
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lists .athletes {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.75rem;
          flex: 0 1 13.75rem;
}

.snowflake {
  will-change: top;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-animation: rotate-snowflake 5s infinite linear;
          animation: rotate-snowflake 5s infinite linear;
}

@-webkit-keyframes rotate-snowflake {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-snowflake {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.star {
  opacity: 0;
}
.star.--show {
  -webkit-animation: show-star 0.6s linear forwards;
          animation: show-star 0.6s linear forwards;
}
.star.--hide {
  -webkit-animation: hide-star 0.6s linear forwards;
          animation: hide-star 0.6s linear forwards;
}

@-webkit-keyframes show-star {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-star {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hide-star {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide-star {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tank {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 7.875rem;
  aspect-ratio: 1;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  cursor: pointer;
}
.tank--show {
  -webkit-animation: show-tank 0.6s forwards linear;
          animation: show-tank 0.6s forwards linear;
}
.tank img {
  max-width: 100%;
}
.tank--rotate {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.tank__gun {
  position: absolute;
  left: 50%;
  top: 0;
  width: 36.71875%;
  -webkit-transform-origin: center 75%;
      -ms-transform-origin: center 75%;
          transform-origin: center 75%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, 0) rotate(0);
      -ms-transform: translate(-50%, 0) rotate(0);
          transform: translate(-50%, 0) rotate(0);
}
.tank:not(.tank--destroyed) .tank__gun {
  -webkit-animation: move-gun 6s infinite linear;
          animation: move-gun 6s infinite linear;
}
.tank__track {
  position: absolute;
  top: 0.3125rem;
  z-index: -1;
  height: 100%;
}
.tank__track--left {
  left: 14.0625%;
}
.tank__track--right {
  right: 14.0625%;
}
.tank__explosion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  opacity: 0;
}
.tank--destroyed .tank__explosion {
  -webkit-animation: increase-explosion 0.4s forwards linear;
          animation: increase-explosion 0.4s forwards linear;
}

@-webkit-keyframes increase-explosion {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes increase-explosion {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@-webkit-keyframes move-gun {
  0% {
    -webkit-transform: translate(-50%, 0) rotate(0);
            transform: translate(-50%, 0) rotate(0);
  }
  15%, 25% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  40%, 50% {
    -webkit-transform: translate(-50%, 0) rotate(0);
            transform: translate(-50%, 0) rotate(0);
  }
  70%, 80% {
    -webkit-transform: translate(-50%, 0) rotate(45deg);
            transform: translate(-50%, 0) rotate(45deg);
  }
  90%, 100% {
    -webkit-transform: translate(-50%, 0) rotate(0);
            transform: translate(-50%, 0) rotate(0);
  }
}
@keyframes move-gun {
  0% {
    -webkit-transform: translate(-50%, 0) rotate(0);
            transform: translate(-50%, 0) rotate(0);
  }
  15%, 25% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  40%, 50% {
    -webkit-transform: translate(-50%, 0) rotate(0);
            transform: translate(-50%, 0) rotate(0);
  }
  70%, 80% {
    -webkit-transform: translate(-50%, 0) rotate(45deg);
            transform: translate(-50%, 0) rotate(45deg);
  }
  90%, 100% {
    -webkit-transform: translate(-50%, 0) rotate(0);
            transform: translate(-50%, 0) rotate(0);
  }
}
@-webkit-keyframes show-tank {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-tank {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.inputs:not(:first-child) {
  margin-top: 1.5625rem;
}
.inputs:not(:last-child) {
  margin-bottom: 1.25rem;
}

.amount-clicks__item:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.amount-clicks__item::after {
  content: attr(data-amount);
}

.translator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.translator .lang-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 9.375rem;
          flex: 0 1 9.375rem;
  border: 0.0625rem solid #fff;
  padding: 0.9375rem;
}

.lang-list__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.lang-list__button {
  width: 100%;
  text-align: left;
  font-size: 1.375rem;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
  border: 0.0625rem solid #fff;
  padding: 0.3125rem 0.625rem;
}
.lang-list__button.--active {
  border-color: blue;
}
.--correct-answer .lang-list__button.--active {
  border-color: green;
}
.--wrang-answer .lang-list__button.--active {
  border-color: red;
}
@media (any-hover: hover) {
  .lang-list__button:hover {
    color: #7a956b;
  }
}

.cart__items {
  margin-bottom: 1.5625rem;
}
.cart__product:not(:last-child) {
  margin-bottom: 1.25rem;
}
.cart__total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
  font-size: 1.875rem;
}
.cart__total-price::after {
  content: attr(data-price) " грн.";
}

.product-cart {
  border: 0.125rem solid lightblue;
  border-radius: 0.5rem;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-cart__preview {
  width: 5rem;
  aspect-ratio: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.product-cart__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-cart__title a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .product-cart__title a:hover {
    color: #7a956b;
  }
}
.product-cart__total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  font-weight: 700;
  color: #fff;
}
.product-cart__total-price::after {
  content: attr(data-price) " грн.";
}
.product-cart__delete {
  position: relative;
  width: 1.875rem;
  aspect-ratio: 1;
  border: 0.125rem solid red;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.product-cart__delete::before, .product-cart__delete::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  top: 50%;
  left: 50%;
  background-color: red;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.product-cart__delete::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.product-cart__delete::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
@media (any-hover: hover) {
  .product-cart__delete:hover {
    border-color: rgb(198, 2, 2);
  }
  .product-cart__delete:hover::before, .product-cart__delete:hover::after {
    background-color: rgb(198, 2, 2);
  }
}

.quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
}
.quantity__button {
  position: relative;
  width: 1.875rem;
  aspect-ratio: 1;
  border-radius: 0.3125rem;
  border: 0.125rem solid white;
  -webkit-transition: border-color 0.3s, opacity 0.3s;
  transition: border-color 0.3s, opacity 0.3s;
}
.quantity__button:disabled {
  opacity: 0.2;
  cursor: default;
}
.quantity__button::before, .quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.625rem;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.quantity__button--decrease::after {
  display: none;
}
.quantity__button--increase::after {
  height: 0.625rem;
  width: 0.125rem;
}
@media (any-hover: hover) {
  .quantity__button:hover:not(:disabled) {
    border-color: #7a956b;
  }
  .quantity__button:hover:not(:disabled)::before, .quantity__button:hover:not(:disabled)::after {
    background-color: #7a956b;
  }
}
.quantity__input {
  width: 3.75rem;
}
.quantity__input input {
  text-align: center;
  width: 100%;
  height: 100%;
}

.vacation {
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  row-gap: 0.9375rem;
}
.vacation__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}
.vacation__label input {
  width: 7.5rem;
}
.vacation__label input:not(:disabled) {
  cursor: pointer;
}

.production {
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  row-gap: 1.25rem;
}
.production__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.production__label input[name=date-production] {
  width: 7.5rem;
  cursor: pointer;
}
.production__label input[name=days-suitability] {
  width: 3.125rem;
  text-align: center;
  border: 0.0625rem solid gray;
  height: 2.1875rem;
}
.production__button {
  justify-self: start;
}

.bank__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.bank__nav:not(:last-child) {
  margin-bottom: 0.9375rem;
}

#color {
  cursor: pointer;
  width: 3.75rem;
  height: 2.5rem;
}

.label-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.page__container--localstorage {
  padding-block: 1.875rem;
  background-color: #333;
}

.page__task:not(:last-child) {
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid gray;
  margin-bottom: 1.25rem;
}

.label-username {
  position: relative;
  width: 100%;
  padding-bottom: 1.25rem;
}
.label-username .error {
  position: absolute;
  top: 4.375rem;
  left: 0;
}

.error {
  color: red;
}

.input {
  border: 0.0625rem solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.--error .input {
  border-color: red;
}

.ages__item,
.authors__item,
.visitors__item,
.students__item,
.temperatures__item,
.products__item,
.numbers__item {
  margin-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.ages__item::before,
.authors__item::before,
.visitors__item::before,
.students__item::before,
.temperatures__item::before,
.products__item::before,
.numbers__item::before {
  content: "";
  width: 0.5rem;
  aspect-ratio: 1;
  background-color: #7a956b;
  border-radius: 50%;
}